/* write your override styles here */
#wall .tag-1 {
    display: none;
  }
  body {
    background: linear-gradient(135deg, #3498db, #c0392b); 
    color: white; 
  }
  
  #wall {
    width: 90%; 
    max-width: 800px; 
    margin: 30px auto; 
    background: url(../images/new-wall.jpg) no-repeat center; 
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7); 
    border: 12px solid #2c3e50; 
    border-bottom: 30px solid #2c3e50; 
  }
  
  .tag-1, #tag-2, #tag-3, #tag-4, #tag-5, #tag-6, #tag-7 {
    width: 100%; 
    height: 100%; 
    opacity: 0.8; 
  }
  
  .tag-1 {
    background: url(../images/new-tag-1.png) no-repeat; 
    z-index: 10;
    transform: rotate(-5deg); 
  }
  
  #wall #tag-2 {
    background: url(../images/new-tag-2.png) no-repeat; 
    z-index: 9; 
    transform: rotate(5deg);
  }
  
